<div class="container">
<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <p>Category</p>
    <%= f.select(:category, option_for_select([['Products', 'Products'],['Services', 'Services'],['Stores', 'Stores'],['Restraunts', 'Restraunts'],['Parks', 'Parks'],['Events', 'Events'],['Shelters', 'Shelters'],['Hotels', 'Hotels']])) %>
  </div>
  <div class="field">
    <p>Pros, Woof Woof</p><br>
    <%= f.text_area :pros, :class => "materialize-textarea" %>
  </div>
  <div class="field">
    <p>Cons, Bone to pick</p><br>
    <%= f.text_area :cons, :class => "materialize-textarea" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :class => "materialize-textarea" %>
  </div>
  <div class="field">
    <div id="star"></div>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>

<script>
  $('#star').raty({
  score: function() {
    return $(this).attr('data-rating');
  }
});
</script>