<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @review.name %>
  <%= @review.category %>
  <%= @review.pros %>
  <%= @review.cons %>
  <%= @review.description %>
</p>

<p>
  <div class="star-rating" data-score= <%= @review.rating %> ></div>
</p>


<p>
  <strong>User:</strong>
  <%= @review.user %>
</p>
<% if user_signed_in? %>
  <% if @review.user_id = current_user.id %>
    <%= link_to 'Edit', edit_review_path(@review) %> |
    <%= link_to 'Delete', @review, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <% end %>
<% end %>
<%= link_to 'Back', root_path %>
<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>
